/deep/ .el-form-item__label {
  font-size: 15px;
  padding: 0 0 5px 0;
}

/deep/ .el-input__inner {
  width: 255px;
  background-color: #fafafa;
}

/deep/ .el-form-item {
  margin-bottom: 15px;
}

.headerInfo {
  margin: 15px 0 0 0;
}
