<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>聚潍通</title>
  <% if (process.env.NODE_ENV === 'production') { %>
  <script>document.write('<script src="./config/index.js?t=' + new Date().getTime() + '"><\/script>')</script>
  <% }else { %>
  <!--   <link rel="shortcut icon" type="image/x-icon" href="./static/img/favicon.ico"> -->
  <script src="./static/config/index.js"></script>
  <% } %>
</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>